/site
test.json
feed.py
/.venv
config.yml
requirements.bat
*.pyc
*.spec
/build
/dist
/.cache
optmized.py
static/feed.json
docs/blog
dockerbuild.bat
/docs
venv.bat
updater.py
*.xcf
/docs
mkdocs.yml
/static/themes
# Application android
/android
/node_modules
package.json
package-lock.json
capacitor.config.json
/www
