<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wezzer</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="shortcut icon" href="/static/images/logo.png" type="image/x-icon">
    <script src="/static/js/core.js"></script>
    <link rel="stylesheet" href="/static/style.css">

    <!-- Open Graph protocol -->
    <meta property="og:title" content="Wezzer" />
    <meta property="og:description" content="Wezzer est une application web gratuite et open-source utilisant l'api de open-meteo pour vous fournir la météo, ainsi que les prévisions." />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://i.imgur.com/8ozQ6eV.png" />
</head>
<body>
    <!-- Écran de chargement -->
    <div id="loader">
        <img src="/static/images/logo.png" alt="Chargement en cours...">
        <br/>
        <h1 style="margin-left: 10px;">Wezzer</h1>
        <p>Chargement, patientez...</p>
        <span class="loading"></span>
    </div>

    <!-- Barre d'en-tête -->
    <div class="nav">
        <p data-bs-toggle="modal" data-bs-target="#location-change" style="cursor: pointer;"><ion-icon name="location"></ion-icon> {{loc["cityname"]}}<br></p>
        <div id="nav-btn">
            <h4 style="font-size: 30px;"><ion-icon name="notifications" id="bell" data-bs-toggle="modal" data-bs-target="#notifications"></ion-icon><ion-icon name="cog"  data-bs-toggle="modal" data-bs-target="#settings" style="cursor: pointer;" id="set-icon"></ion-icon></h4>
        </div>
    </div>

    <!-- Météo actuelle -->
    <section id="header">
        {% if raw["hourly"]["surface_pressure"][time-3]-raw["hourly"]["surface_pressure"][time]  >= 4 %}
            <h1 id="weather-logo"><img srcset="/static/images/thunderstorm.svg" width="90px"></h1>
        {% elif raw["hourly"]["precipitation_probability"][time] > 50 and raw["hourly"]["rain"][time] >= 0.10 or raw["hourly"]["precipitation_probability"][time] > 95 %}
            <h1 id="weather-logo"><img srcset="/static/images/rainy.svg" width="90px"></h1>
        {% elif raw["hourly"]["cloud_cover_mid"][time] >= 55 and raw["hourly"]["cloud_cover_mid"][time] < 75 %}
            {% if raw["hourly"]["is_day"][time] == 1 %}
                <h1 id="weather-logo" title="Converture nuageuse estimée : {{ raw['hourly']['cloud_cover_mid'][time] }} %"><img srcset="/static/images/partly-sunny.svg" width="90px"></h1>
            {% else %}
                <h1 id="weather-logo" title="Converture nuageuse estimée : {{ raw['hourly']['cloud_cover_mid'][time] }} %"><img srcset="/static/images/cloudy-night.svg" width="90px"></h1>
            {% endif %}
        {% elif raw["hourly"]["cloud_cover_mid"][time] >= 75 %}
            <h1 id="weather-logo" title="Converture nuageuse estimée : {{ raw['hourly']['cloud_cover_mid'][time] }} %"><ion-icon name="cloud" style="font-size: 90px; color: grey;"></ion-icon></h1>
        {% else %}
            {% if raw["hourly"]["is_day"][time] == 1 %}
                <h1 id="weather-logo"><ion-icon name="sunny" style="font-size: 90px; color: #f9f23e"></ion-icon></h1>
            {% else %}
                <h1 id="weather-logo"><ion-icon name="moon" style="font-size: 90px; color: #433D8B"></ion-icon></h1>
            {% endif %}
        {% endif %}
        
        <p id="text-now">Maintenant ({{ date }})</p>

        {% if time != 0  %}
            {% if raw["hourly"]["temperature_2m"][time-1] > raw["current"]["temperature_2m"]  %}
                <h1 style="font-size: 30px;">{{ raw["current"]["temperature_2m"]|int }}° <ion-icon name="arrow-down" style="font-size: 16px !important;"></ion-icon></h1>
            {% elif raw["hourly"]["temperature_2m"][time-1] < raw["current"]["temperature_2m"]  %}
                <h1 style="font-size: 30px;">{{ raw["current"]["temperature_2m"]|int }}° <ion-icon name="arrow-up" style="font-size: 16px !important;"></ion-icon></h1>
            {% else %}
                <h1 style="font-size: 30px;">{{ raw["current"]["temperature_2m"]|int }}° <ion-icon name="arrow-forward" style="font-size: 16px !important;"></ion-icon></h1>
            {% endif %}
        {% endif %}
        <p id="temp-stats"><ion-icon name="arrow-up" style="color: green"></ion-icon> {{ raw["daily"]["temperature_2m_max"][0]|int }}° <ion-icon name="arrow-down" style="color: red"></ion-icon> {{ raw["daily"]["temperature_2m_min"][0]|int }}°<br>Ressenti : {{ raw["current"]["apparent_temperature"]|int }}°</p>
    </section>

    <!-- <section id="previsions">
    </section> -->

    <section id="details" >
        <div class="detail" data-bs-toggle="modal" data-bs-target="#graph-humidity" style="cursor: pointer;">
            <br>
            <p class="detail-content" style="color: #B6BBC4;"><ion-icon name="water"></ion-icon> Humidité</p>
            <p class="detail-content" style="font-size: 30px; bottom: 35px;">{{ raw["current"]["relative_humidity_2m"] }}%</p>
            {% if time != 0  %}
                {% if raw["hourly"]["relative_humidity_2m"][time-1] > raw["current"]["relative_humidity_2m"]  %}
                    <p class="detail-right" align="center"><ion-icon name="arrow-down"></ion-icon><br>baisse</p>
                {% elif raw["hourly"]["relative_humidity_2m"][time-1] < raw["current"]["relative_humidity_2m"]  %}
                    <p class="detail-right" align="center"><ion-icon name="arrow-up"></ion-icon><br>hausse</p>
                {% else %}
                    <p class="detail-right" align="center"><ion-icon name="arrow-forward"></ion-icon><br>stable</p>
                {% endif %}
            {% endif %}
        </div>

        <div class="detail" data-bs-toggle="modal" data-bs-target="#graph-rain" style="cursor: pointer;">
            <br>
            <p class="detail-content" style="color: #B6BBC4;"><ion-icon name="rainy"></ion-icon> Pluviométrie</p>
            <p class="detail-content" style="font-size: 30px; bottom: 35px;">{{ raw["current"]["rain"] }} mm</p>
            {% if time != 0  %}
                {% if raw["hourly"]["rain"][time-1] > raw["current"]["rain"]  %}
                    <p class="detail-right" align="center"><ion-icon name="arrow-down"></ion-icon><br>baisse</p>
                {% elif raw["hourly"]["rain"][time-1] < raw["current"]["rain"]  %}
                    <p class="detail-right" align="center"><ion-icon name="arrow-up"></ion-icon><br>hausse</p>
                {% else %}
                    <p class="detail-right" align="center"><ion-icon name="arrow-forward"></ion-icon><br>stable</p>
                {% endif %}
            {% endif %}
        </div>

        <div class="detail" data-bs-toggle="modal" data-bs-target="#graph-wind" style="cursor: pointer;">
            <br>
            <p class="detail-content" style="color: #B6BBC4;"><ion-icon name="compass"></ion-icon> Vent</p>
            {% if raw["current"]["wind_direction_10m"] > 22.5 and raw["current"]["wind_direction_10m"] <= 67.5 %}
                <p class="detail-content" style="font-size: 30px; bottom: 35px;">{{ raw["current"]["wind_speed_10m"] }} km/h <i id="windir"><ion-icon name="navigate"></ion-icon> Nord-est</i></p>
            {% elif raw["current"]["wind_direction_10m"] > 67.5 and raw["current"]["wind_direction_10m"] <= 112.5 %}
                <p class="detail-content" style="font-size: 30px; bottom: 35px;">{{ raw["current"]["wind_speed_10m"] }} km/h <i id="windir"><ion-icon name="navigate"></ion-icon> Est</i></p>
            {% elif raw["current"]["wind_direction_10m"] > 112.5 and raw["current"]["wind_direction_10m"] <= 157.5 %}
                <p class="detail-content" style="font-size: 30px; bottom: 35px;">{{ raw["current"]["wind_speed_10m"] }} km/h <i id="windir"><ion-icon name="navigate"></ion-icon> Sud-est</i></p>
            {% elif raw["current"]["wind_direction_10m"] > 157.5 and raw["current"]["wind_direction_10m"] <= 202.5 %}
                <p class="detail-content" style="font-size: 30px; bottom: 35px;">{{ raw["current"]["wind_speed_10m"] }} km/h <i id="windir"><ion-icon name="navigate"></ion-icon> Sud</i></p>
            {% elif raw["current"]["wind_direction_10m"] > 202.5 and raw["current"]["wind_direction_10m"] <= 247.5 %}
                <p class="detail-content" style="font-size: 30px; bottom: 35px;">{{ raw["current"]["wind_speed_10m"] }} km/h <i id="windir"><ion-icon name="navigate"></ion-icon> Sud-ouest</i></p>
            {% elif raw["current"]["wind_direction_10m"] > 247.5 and raw["current"]["wind_direction_10m"] <= 292.5 %}
                <p class="detail-content" style="font-size: 30px; bottom: 35px;">{{ raw["current"]["wind_speed_10m"] }} km/h <i id="windir"><ion-icon name="navigate"></ion-icon> Ouest</i></p>
            {% elif raw["current"]["wind_direction_10m"] > 292.5 and raw["current"]["wind_direction_10m"] <= 337.5 %}
            <p class="detail-content" style="font-size: 30px; bottom: 35px;">{{ raw["current"]["wind_speed_10m"] }} km/h <i id="windir"><ion-icon name="navigate"></ion-icon> Nord-ouest</i></p>
            {% else %}
                <p class="detail-content" style="font-size: 30px; bottom: 35px;">{{ raw["current"]["wind_speed_10m"] }} km/h <i id="windir"><ion-icon name="navigate"></ion-icon> Nord</i></p>
            {% endif %}
        </div>

        <div class="detail">
            <br>
            <p class="detail-content" style="color: #B6BBC4;"><ion-icon name="speedometer"></ion-icon> Pression</p>
            <p class="detail-content" style="font-size: 30px; bottom: 35px;">{{ raw["current"]["surface_pressure"]|int }} hPa</p>
            {% if time != 0  %}
                {% if raw["hourly"]["surface_pressure"][time-1] > raw["current"]["surface_pressure"]  %}
                    <p class="detail-right" align="center" style="transform: translateX(-100px);"><ion-icon name="arrow-down"></ion-icon><br>baisse</p>
                {% elif raw["hourly"]["surface_pressure"][time-1] < raw["current"]["surface_pressure"]  %}
                    <p class="detail-right" align="center" style="transform: translateX(-100px);"><ion-icon name="arrow-up"></ion-icon><br>hausse</p>
                {% else %}
                    <p class="detail-right" align="center" style="transform: translateX(-100px);"><ion-icon name="arrow-forward"></ion-icon><br>stable</p>
                {% endif %}
            {% endif %}
        </div>

        <div class="detail">
            <br>
            <p class="detail-content" style="color: #B6BBC4;"><ion-icon name="leaf"></ion-icon> Qualité de l'air</p>
            <p class="detail-content" style="font-size: 30px; bottom: 35px;">{{ raw_air["current"]["european_aqi"]|int }}</p>

            {% if raw_air["current"]["european_aqi"]|int <= 25 %}
                <p class="detail-right" align="center" style="transform: translateX(-100px);"><ion-icon name="happy"></ion-icon><br>correct</p>
            {% elif raw_air["current"]["european_aqi"]|int > 25 and raw_air["current"]["european_aqi"]|int <= 50 %}
                <p class="detail-right" align="center" style="transform: translateX(-100px);"><ion-icon name="sad"></ion-icon><br>médiocre</p>
            {% elif raw_air["current"]["european_aqi"]|int > 50 %}
                <p class="detail-right" align="center" style="transform: translateX(-100px);"><ion-icon name="alert-circle"></ion-icon><br>mauvais</p>
            {% endif %}
        </div>

        <div class="detail">
            <br>
            <p class="detail-content" style="color: #B6BBC4;"><ion-icon name="glasses"></ion-icon> Indice UV</p>
            <p class="detail-content" style="font-size: 30px; bottom: 35px;">{{ raw["hourly"]["uv_index"][time]|int }}</p>
            {% if raw["hourly"]["uv_index"][time]|int > 4 and raw["hourly"]["uv_index"][time]|int < 9 %}
                <p class="detail-right" align="center" style="cursor: help; transform: translateX(-115px) scale(3); margin-top: 8px; color:rgb(224, 224, 26);" title="Utilisez un moyen contre l'UV."><ion-icon name="warning"></ion-icon><br></p>
            {% elif raw["hourly"]["uv_index"][time]|int >= 9 %}
                <p class="detail-right" align="center" style="cursor: help; transform: translateX(-115px) scale(3); margin-top: 8px; color: red;" title="Utilisez un moyen contre l'UV."><ion-icon name="warning"></ion-icon><br></p> 
            {% endif %}
        </div>

        <div class="detail" id="hour-w-all" style="height: 215px;">
            <br>
            <p class="detail-content" style="color: #B6BBC4; overflow: auto; "><ion-icon name="time"></ion-icon> Ensoillement par heure (24h)</p>
            <div class="weather-per-hour-container">
                {% for i in range(time,time+25) %}
                    <div class="hour-w">
                        {% if raw["hourly"]["direct_radiation"][i] <= 0 %}
                                <ion-icon name="flash" style="font-size: 30px"></ion-icon>
                                {% if time == i %}
                                    <p>Actuel</p>
                                {% else %}
                                    <p>{{ raw["hourly"]["time"][i].split("T")[1] }}</p>
                                {% endif %}
                                <p class="hour-w-text">-- W/m²</p>
                            {% else %}
                                <ion-icon name="flash" style="font-size: 30px; color: #f9f23e"></ion-icon>
                                {% if time == i %}
                                    <p>Actuel</p>
                                {% else %}
                                    <p>{{ raw["hourly"]["time"][i].split("T")[1] }}</p>
                                {% endif %}
                                <p class="hour-w-text">{{ raw["hourly"]["direct_radiation"][i]|int }} W/m²</p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="detail" id="hour-w-all">
            <br>
            <p class="detail-content" style="color: #B6BBC4; overflow: auto;"><ion-icon name="time"></ion-icon> Metéo par heure (24h) <strong id="history-hourly">• <a href="#" style="text-decoration: none;" data-bs-toggle="modal" data-bs-target="#weather-past"><ion-icon name="time"></ion-icon> Historique</a></strong></p>
            <div class="weather-per-hour-container">
                {% for i in range(time,time+25) %}
                    <div class="hour-w">
                        {% if raw["hourly"]["surface_pressure"][time-3]-raw["hourly"]["surface_pressure"][time]  >= 4 %}
                            <img srcset="/static/images/thunderstorm.svg" width="30px">
                        {% elif raw["hourly"]["precipitation_probability"][time] > 50 and raw["hourly"]["rain"][time] >= 0.10 or raw["hourly"]["precipitation_probability"][time] > 95 %}
                            <img srcset="/static/images/rainy.svg" width="30px">
                        {% elif raw["hourly"]["cloud_cover_mid"][i] >= 55 and raw["hourly"]["cloud_cover_mid"][i] < 75 %}
                            {% if raw["hourly"]["is_day"][i] == 1 %}
                                <img srcset="/static/images/partly-sunny.svg" width="30px">
                            {% else %}
                                <img srcset="/static/images/cloudy-night.svg" width="30px">
                            {% endif %}
                        {% elif raw["hourly"]["cloud_cover_mid"][i] >= 75 %}
                            <ion-icon name="cloud" style="font-size: 30px; color: grey;"></ion-icon>
                        {% else %}
                            {% if raw["hourly"]["is_day"][i] == 1 %}
                                <ion-icon name="sunny" style="font-size: 30px; color: #f9f23e"></ion-icon>
                            {% else %}
                                <ion-icon name="moon" style="font-size: 30px; color: #433D8B"></ion-icon>
                            {% endif %}
                        {% endif %}
                        {% if time == i %}
                            <p>Actuel</p>
                        {% else %}
                            <p>{{ raw["hourly"]["time"][i].split("T")[1] }}</p>
                        {% endif %}
                        <p class="hour-w-text"><ion-icon name="thermometer" style="margin-top: 4px;"></ion-icon> {{ raw["hourly"]["temperature_2m"][i]|int }}°</p>
                        <p class="hour-w-text"><ion-icon name="rainy" style="margin-top: 4px; margin-right: 4px;"></ion-icon> {{ raw["hourly"]["precipitation_probability"][i] }}%</p>
                        <p class="hour-w-text"><ion-icon name="snow" style="margin-top: 4px; margin-right: 4px;"></ion-icon> {{ raw["hourly"]["snowfall"][i]|int }}mm</p>
                    </div>
                    
                    <!-- Récupération du lever et du coucher du soleil pour la journée actuelle -->
                    {% if raw["hourly"]["time"][i][0:13] == raw["daily"]["sunrise"][0][0:13] %}
                    <div class="hour-w">
                         <img srcset="/static/images/sunrise.svg" width="30px" style="margin-bottom: 2px;">
                        <p>{{ raw["daily"]["sunrise"][0].split("T")[1] }}</p>
                        <p class="hour-w-text">Lever du soleil</p>
                    </div>
                    {% elif raw["hourly"]["time"][i][0:13] == raw["daily"]["sunrise"][1][0:13] %}
                    <div class="hour-w">
                        <img srcset="/static/images/sunrise.svg" width="30px" style="margin-bottom: 2px;">
                        <p>{{ raw["daily"]["sunrise"][1].split("T")[1] }}</p>
                        <p class="hour-w-text">Lever du soleil</p>
                    </div>
                    {% endif %}

                
                    {% if raw["hourly"]["time"][i][0:13] == raw["daily"]["sunset"][0][0:13] %}
                    <div class="hour-w">
                        <img srcset="/static/images/sunset.svg" width="30px" style="margin-bottom: 2px;">
                        <p>{{ raw["daily"]["sunset"][0].split("T")[1] }}</p>
                        <p class="hour-w-text">Coucher du soleil</p>
                    </div>
                    {% elif raw["hourly"]["time"][i][0:13] == raw["daily"]["sunset"][1][0:13] %}
                    <div class="hour-w">
                        <img srcset="/static/images/sunset.svg" width="30px" style="margin-bottom: 2px;">
                        <p>{{ raw["daily"]["sunset"][1].split("T")[1] }}</p>
                        <p class="hour-w-text">Coucher du soleil</p>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="actions">
                <a type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#weather-past"><ion-icon name="hourglass"></ion-icon> Détails des heures passées</a>
                <!-- <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <ion-icon name="download"></ion-icon> Exporter en
                    </button>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#"><ion-icon name="print"></ion-icon> PDF (imprimable)</a></li>
                      <li><a class="dropdown-item" href="#"><ion-icon name="logo-html5"></ion-icon> HTML</a></li>
                    </ul>
                </div> -->
            </div>
        </div>

        <hr>
        
        <h4><ion-icon name="calendar"></ion-icon> Prévisions sur 6 jours</h4>
        {% for i in range(1,7) %}
            <div class="detail" id="detail-daily">
                <br>
                <p class="detail-content" style="color: #B6BBC4;"><ion-icon name="calendar-number"></ion-icon> {{ raw["daily"]["time"][i] }}</p>
                <p class="detail-content" style="bottom: 35px;" id="daily-content">
                    <ion-icon name="umbrella"></ion-icon> Probabilité de pluie : {{ raw["daily"]["precipitation_probability_max"][i] }}%<br>
                    <ion-icon name="thermometer"></ion-icon> Températures : <ion-icon name="arrow-up" style="color: green"></ion-icon>{{ raw["daily"]["temperature_2m_max"][i]|int }}° <ion-icon name="arrow-down" style="color: red"></ion-icon>{{ raw["daily"]["temperature_2m_min"][i]|int }}° <br>
                    {% if raw["daily"]["uv_index_max"][i] > 4 %}
                        <ion-icon name="sunny"></ion-icon> Indice UV : {{ raw["daily"]["uv_index_max"][i] }} <ion-icon name="warning" style="color: yellow;"></ion-icon><br>
                    {% else %}
                        <ion-icon name="sunny"></ion-icon> Indice UV : {{ raw["daily"]["uv_index_max"][i] }}<br>
                    {% endif %}
                    <ion-icon name="time"></ion-icon> Lever/coucher du soleil : {{ raw["daily"]["sunrise"][i].split("T")[1] }} / {{ raw["daily"]["sunset"][i].split("T")[1] }}<br>
                    {% if raw["daily"]["precipitation_sum"][i] > 0  and raw["daily"]["precipitation_probability_max"][i] >= 50 %}
                        <p class="detail-right-forecast" align="center"><img srcset="/static/images/rainy.svg" width="90px"></p>
                    {% elif raw["daily"]["precipitation_sum"][i] > 0  and raw["daily"]["precipitation_probability_max"][i] < 50 %}
                        <p class="detail-right-forecast" align="center"><img srcset="/static/images/partly-sunny.svg" width="90px"></p>
                    {% else %}
                        <p class="detail-right-forecast" align="center"><ion-icon name="sunny" style="font-size: 90px; color: #f9f23e"></ion-icon></p>
                    {% endif %}
                </p>
            </div>
        {% endfor %}
        <hr>
        
        {% if config_file['footer'] != "" %}
            <p style="color: #909296; text-justify:inter-word;">{{ config_file['footer'] }}</p>
        {% endif %}
        <a href="#" data-bs-toggle="modal" data-bs-target="#about">À propos de l'application</a>
        <p id="use-computer-message"><ion-icon name="laptop"></ion-icon> Veuillez utiliser un ordinateur pour profiter de toutes les fonctionnalitées.</p>
    </section>
    
    <div class="modal fade" id="settings" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5"><ion-icon name="cog"></ion-icon> Paramètres</h1>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/set_settings">
                <div class="modal-body">
                    <p><i>Les paramètres sont en cours de développement.</i></p>
                    <h5><ion-icon name="server"></ion-icon> Gestion des cookies</h5>
                    <div class="btn-group" role="group">
                        <a type="button" class="btn btn-primary" href="/"><ion-icon name="refresh"></ion-icon> Rafraichir</a>
                        <a type="button" class="btn btn-danger" href="/delete_cookies"><ion-icon name="trash"></ion-icon> Tout supprimer</a>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><ion-icon name="close-circle"></ion-icon> Retour</button>
                    <button type="submit" class="btn btn-primary disabled"><ion-icon name="checkmark-circle"></ion-icon> Enregistrer</button>
                </div>
            </form>
          </div>
        </div>
    </div>

    <div class="modal fade" id="notifications" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5"><ion-icon name="logo-rss" style="color: #ea7819;"></ion-icon> Notifications</h1>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <section id="details">
                    <ul>
                    {% for n in notifications %}
                        <li><h5>{{ n.title }}</h5><br><p>{{ n.description }}</p></li>
                    {% endfor %}
                    </ul>
                </section>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><ion-icon name="close-circle"></ion-icon> Fermer</button>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="graph-humidity" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5"><ion-icon name="water"></ion-icon> Évolution de l'humidité dans la journée (toutes les 15 minutes)</h1>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="/graph?dtg=relative_humidity_2m" class="graph" id="graph-humidity-img">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><ion-icon name="close-circle"></ion-icon> Fermer le graphique</button>
              <a type="button" class="btn btn-primary" href="/graph?dtg=relative_humidity_2m" download="Évolution de l'humidité dans la journée du {{ date }}"><ion-icon name="cloud-download"></ion-icon> Télécharger</a>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="graph-rain" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5"><ion-icon name="umbrella"></ion-icon> Évolution de la pluviométrie dans la journée (toutes les 15 minutes)</h1>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="/graph?dtg=rain" class="graph" id="graph-rain-img">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><ion-icon name="close-circle"></ion-icon> Fermer le graphique</button>
              <a type="button" class="btn btn-primary" href="/graph?dtg=rain" download="Évolution de la pluviométrie dans la journée du {{ date }}"><ion-icon name="cloud-download"></ion-icon> Télécharger</a>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="graph-wind" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5"><ion-icon name="speedometer"></ion-icon> Évolution de la vitesse du vent dans la journée (toutes les 15 minutes)</h1>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img src="/graph?dtg=wind_speed_10m" class="graph" id="graph-wind-img">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><ion-icon name="close-circle"></ion-icon> Fermer le graphique</button>
              <a type="button" class="btn btn-primary" href="/graph?dtg=wind_speed_10m" download="Évolution de la vitesse du vent dans la journée du {{ date }}"><ion-icon name="cloud-download"></ion-icon> Télécharger</a>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="location-change" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5"><ion-icon name="location"></ion-icon> Séléctionner une ville par défaut</h1>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/search_city" method="get">
                <div class="modal-body">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Entrez le nom de la ville" name="city">
                    </div>
                    <h5>Recherches populaires</h5>
                    <div style="display: flex; justify-content: left;">
                        <a class="tags" href="/set_location?cityname=Paris&country=France&latitude=48.8534951&longitude=2.3483915">Paris</a>
                        <a class="tags" href="/set_location?cityname=Marseille&country=France&latitude=43.2961743&longitude=5.3699525">Marseille</a>
                        <a class="tags" href="/set_location?cityname=Lyon&country=France&latitude=45.7578137&longitude=4.8320114">Lyon</a>
                        <a class="tags" href="/set_location?cityname=Toulouse&country=France&latitude=43.6044622&longitude=1.4442469">Toulouse</a>
                        <a class="tags" href="/set_location?cityname=Nice&country=France&latitude=43.7009358&longitude=7.2683912">Nice</a>
                        <a class="tags" href="/set_location?cityname=Nantes&country=France&latitude=47.2186371&longitude=-1.5541362">Nantes</a>
                        <a class="tags" href="/set_location?cityname=Montpellier&country=France&latitude=43.6112422&longitude=3.8767337">Montpellier</a>
                    </div>
                    <br/>
                    <button class="btn btn-primary" type="button" onclick="getLocationAndRedirect()"><ion-icon name="locate"></ion-icon> Météo à votre position (coordonnées exactes)</button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><ion-icon name="close-circle"></ion-icon> Fermer</button>
                    <button class="btn btn-primary" type="submit"><ion-icon name="search"></ion-icon> Rechercher</button>
                </div>
            </form>
          </div>
        </div>
    </div>

    <div class="modal fade" id="weather-past" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5"><ion-icon name="time"></ion-icon> Historique météorologique des dernières 24h</h1>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="detail-past">
                    <br>
                    <p class="detail-content" style="color: #B6BBC4; overflow: auto; "><ion-icon name="time"></ion-icon> Ensoillement par heure<br><ion-icon name="analytics"></ion-icon> Ensoillement total des cernières 24h : {{ past_total[0] }} W/m²</p>
                    <div class="weather-per-hour-container">
                        {% for i in range(time+25,time, -1) %}
                            {% if i-25-time+1 < 0 %}
                            <div class="hour-w">
                                <ion-icon name="flash" style="font-size: 30px; color: #f9f23e;"></ion-icon>
                                <p>{{ i-25-time+1 }}h<br>{{ raw_past["hourly"]["time"][i].split("T")[1] }}</p>
                                {% if raw_past["hourly"]["direct_radiation"][i] <= 0 %}
                                    <p class="hour-w-text">-- W/m²</p>
                                {% else %}
                                    <p class="hour-w-text">{{ raw_past["hourly"]["direct_radiation"][i] }} W/m²</p>
                                {% endif %}
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="detail-past">
                    <br>
                    <p class="detail-content" style="color: #B6BBC4; overflow: auto; "><ion-icon name="time"></ion-icon> Pluviométrie par heure<br><ion-icon name="analytics"></ion-icon> Précipitation totale ces dernières 24h : {{ past_total[1] }} mm</p>
                    <div class="weather-per-hour-container">
                        {% for i in range(time+25,time, -1) %}
                            {% if i-25-time+1 < 0 %}
                            <div class="hour-w">
                                <img srcset="/static/images/rainy.svg" width="30px">
                                <p>{{ i-25-time+1 }}h<br>{{ raw_past["hourly"]["time"][i].split("T")[1] }}</p>
                                <p class="hour-w-text">{{ raw_past["hourly"]["rain"][i] }} mm</p>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="detail-past">
                    <br>
                    <p class="detail-content" style="color: #B6BBC4; overflow: auto; "><ion-icon name="time"></ion-icon> Humidité par heure<br><ion-icon name="analytics"></ion-icon> Humidité moyenne ces dernières 24h : {{ past_total[2] }}%</p>
                    <div class="weather-per-hour-container">
                        {% for i in range(time+25,time, -1) %}
                            {% if i-25-time+1 < 0 %}
                            <div class="hour-w" style="margin-bottom: 20px;">
                                <ion-icon name="water" style="font-size: 30px; color: #3da5ff;"></ion-icon>
                                <p>{{ i-25-time+1 }}h<br>{{ raw_past["hourly"]["time"][i].split("T")[1] }}</p>
                                <p class="hour-w-text">{{ raw_past["hourly"]["relative_humidity_2m"][i] }}%</p>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><ion-icon name="close-circle"></ion-icon> Fermer</button>
            </div>
          </div>
        </div>
    </div>

    <div class="modal fade" id="about" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5"><ion-icon name="information-circle"></ion-icon> À propos de cette application</h1>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <p>
                    <div style="display: flex; justify-content: center;">
                        <img src="/static/images/logo.png" width="10%" style="margin-right: 20px;">
                        <h1 style="margin-top: 10px;">Wezzer</h1>
                    </div>
                    Wezzer est une application libre et gratuite offrant un accès illimité aux données météorologiques. Si vous trouvez notre application utile, nous vous invitons à nous soutenir par un don sur <a href="https://buymeacoffee.com/Luckyluka17">BuyMeACoffee</a>, afin de nous aider à couvrir les frais des serveurs.
                    <br>
                    <ion-icon name="information-circle"></ion-icon> Application créée et maintenue par <a href="https://github.com/Luckyluka17" target="_blank">Luckyluka17</a>.
                    <br/><br/>
                    <a type="button" class="btn btn-primary" href="https://github.com/Luckyluka17/Wezzer"><ion-icon name="logo-github"></ion-icon> Dépôt Github</a>
                    <a type="button" class="btn btn-primary" href="https://hub.docker.com/r/luckyluka17/wezzer"><ion-icon name="logo-docker"></ion-icon> Image Docker</a>
                </p>
            </div>
          </div>
        </div>
    </div>

    <script>
        window.addEventListener('load', function () {
            var loader = document.getElementById('loader');
            loader.style.display = 'none';
        });
    </script>
</body>
</html>
